.header{
    position: relative;
}
.body-top{
    margin: 0;
}
.banner img{
    width: 90%;
}
.banner{
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #fe9801 0%, #e6d3aa 40%, #ffffff 100%);
}
.hello{
    font-size: 30px;
    margin: 25px 70px 45px 70px;
    font-weight: 600;
}
.body-bottom-left{
    width: 14%;
}
.bottom-left-top{
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 22px 48px rgba(12, 30, 50, 0.18);
    margin-bottom: 20px;
}
.body-bottom{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    margin-bottom: 50px;
}
.left-top-content{
    padding: 8px 4px;
    font-size: 18px;
    color: #5d5a5a;
    cursor: pointer;
}
.title{
    font-size: 20px;
    font-weight: 700;
    color: black;
}
.body-bottom-right{
    width: 70%;
    border-radius: 15px;
    padding: 30px;
    padding-top: 0;
}
.right-top-left input{
    width: 700px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #a2a2a2;
    outline: none;
}
.right-bottom-title{
    display: flex;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    margin-top: 25px;
    border-bottom: 1px solid #c2bbbb;
    padding-bottom: 10px;
}
.title-left{
    width: 35%;
}
.title-mid{
    width: 25%;
}
.right-bottom-content{
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}
.content-left{
    width: 33%;
}
.content-mid{
    width: 25%;
    margin-left: 23px;
}
.xoauser{
    position: absolute;
    top: 15px;
    right: 2px;
}
.delet{
    background: #fff;
    border: 1px solid grey;
    padding: 10px;
    position: absolute;
    top: 15px;
    right: 1px;
    width: 120px;
    box-shadow:
        0 -2px 4px rgba(0, 0, 0, 0.06),
        0  4px 8px rgba(0, 0, 0, 0.10);
    border-radius: 7px;
    cursor: pointer;
    width: 130px;
}
.delet i{
    margin-right: 5px;
}
.delet button{
    background-color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
}
.delet button:hover{
    background-color: #e7e6e6d9;
    cursor: pointer;
}
.delete-post .delet{
    padding: 0;
}
.oneuser{
    width: 100%;
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid grey;
    position: relative;
}
.detailed-post{
    width: 97%;
    background-color: white;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px;
    margin-top: 15px;
    position: relative;
}
.detailed-post .bacham{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
}
.detailed-post-top{
    display: flex;
}
.post-top-left{
    display: block;
}
.detailed-post-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.detailed-post-mid{
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 10px;
}
.detailed-post-bottom{
    display: flex;
    width: 100%;
}
.post-bottom-content{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px 20px;
    font-size: 17px;
}
.post-bottom-content button{
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    background-color: white;
}
.post-bottom-content i{
    margin-right: 7px;
}
.post-bottom-content:hover button{
    background-color: #e7e6e6d9;
    transition: 0.2s;
}
.post-bottom-content:hover{
    background-color: #e7e6e6d9;
    transition: 0.2s;
    border-radius: 5px;
}
.delete-post .delet{
    top: 30px;
    right: 15px;
}
.like-btn.liked {
  color: #1877f2;
  font-weight: 600;
}
.doimk{
    font-size: 25px;
    position: absolute;
    top: 15px;
    right: 20px;
}
.bars{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    width: 450px;
    z-index: 11;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    padding: 20px;
    display: none;
}
.tat{
    position: absolute;
    top: 15px;
    right: 10px;

}
.right-top-title{
    font-size: 25px;
    font-weight: bold;
}
.right-top-content{
    font-size: 18px;
    margin: 10px 0;
}
.changemk input{
    width: 93%;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
    outline: none;
    border: 1px solid grey;
}
.header-right-bottom button{
    background-color: #1877f2;
    font-weight: bold;
    color: white;
    width: 100%;
    padding: 10px 0;
    border-radius: 30px;
    margin-top: 20px;
    border: 1px solid #1877f2;
}
.header-right-bottom button:hover{
    background-color: white;
    color: #1877f2;
    border: 1px solid #1877f2;
}
.header-right-top{
    color: black;
}
.bongmo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.6); /* trắng mờ */
    backdrop-filter: blur(4px);           /* làm mờ nền sau */
    -webkit-backdrop-filter: blur(4px);
    z-index: 10;
    display: none;
}
body.modal-open {
    overflow: hidden;
}
.hidden{
    display: none;
}
.dangclick{
    background-color: #dad8d8;
    border-radius: 8px;
    color: black;
}